<div class="clearfix"></div>
<div class="pull-right">
  <br>
  <%= link_to 'New Student Group', new_student_group_path, class: "btn btn-primary" %>
</div>
<h1>Student Groups</h1>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Members</th>
      <th>Confirmed</th>
      <th>Finalised</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_groups.each do |student_group| %>
      <tr>
        <td><%= student_group.id %></td>
        <td><%= student_group.users.count %></td>
        <td><%= humanise_boolean(student_group.confirmed) %></td>
        <td><%= humanise_boolean(student_group.finalised) %></td>
        <td><%= link_to 'Show', student_group %></td>
        <td><%= link_to 'Edit', edit_student_group_path(student_group) %></td>
        <td><%= link_to 'Destroy', student_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
