<div class="clearfix"></div>
<div class="pull-right">
  <br>
  <%= link_to "Dashboard", root_url, class: "btn btn-primary" %>
</div>
<h1>Pre-Service Teacher Goal Competion</h1>
<hr>
<table class="table table-striped table-rotated">
  <thead>
    <tr>
      <th width="60%">Person</th>
      <th width="20%">Major</th>
      <th width="10%">Group</th>
      <th width="20"><span>Profile Up To Date</span></th>
      <th width="20"><span>Focus Group Booked</span></th>
      <th width="20"><span>Research Consent</span></th>
      <th width="20"><span>Surveys Complete</span></th>
      <th width="20"><span>Placement Allocated</span></th>
      <th width="20"><span>Placement Available</span></th>
      <th width="20"><span>Placement Group Allocated</span></th>
      <th width="20"><span>Research Scientist Allocated</span></th>
    </tr>
  </thead>
  <tbody>
    <% @Users.each do |this_user| %>
    <tr class="tr-is-<%= this_user.student_group_id %>
               tr-is-<%= this_user.major.downcase.gsub(" ", "-") %>
               tr-is-signed-<% if Signature.where(user_id: this_user.id).count >=1 %>true<%else%>false<%end%>
               tr-is-answered-<% if Answer.where(user_id: this_user.id).count >=1 %>true<% else %>false<% end %>
               tr-is-placed-<% if this_user.industry_id.present? %>true<% else %>false<% end %>
               tr-is-avail-placed-<% if Industry.find_by_id(this_user.industry_id).present? && Industry.find_by_id(this_user.industry_id).enabled %>true<% else %>false<% end %>
               tr-is-grouped-<% if this_user.student_group.present? %>true<% else %>false<% end %>
               tr-is-allocated-rs-<% if this_user.student_group.present? && this_user.student_group.research_scientists.count >= 1 %>true<% else %>false<% end %>
               tr-is-fg-booked-<% if FgBooking.where(user_id: this_user.id).count >= 1 %>true<%else%>false<%end%>
               tr-is-updated-<% if this_user.gender.present? %>true<% else %>false<% end %>">
      <td><a href="mailto:<%= this_user.addressable %>"><%= this_user.name %></a> [<%= link_to "Profile", "/usertools/#{this_user.id}" %>] <% if this_user.id == 93 || this_user.id == 99 %><%= icon :star, class: "text-danger", title: "Do not group these students." %><% end %></td>
      <td class="bold-others is-<%= this_user.major.downcase.gsub(" ", "-") %>"><%= this_user.major %></td>
      <td class="bold-others is-<%= this_user.student_group_id %>"><%= this_user.student_group_id %></td>
      <td class="bold-others is-updated-<% if this_user.gender.present? %>true<% else %>false<% end %>"><% if this_user.gender.present? %><%= icon :ok %><% else %><%= icon :remove %><% end %></td>
      <td class="bold-others is-fg-booked-<% if FgBooking.where(user_id: this_user.id).count >= 1 %>true<%else%>false<%end%>"><% if FgBooking.where(user_id: this_user.id).count >= 1 %><%= icon :ok %><% else %><%= icon :remove %><% end %></td>
      <td class="bold-others is-signed-<% if Signature.where(user_id: this_user.id).count >=1 %>true<%else%>false<%end%>"><% if Signature.where(user_id: this_user.id).count >=1 %><%= icon :ok %><% else %><%= icon :remove %><% end %></td>
      <td class="bold-others is-answered-<% if Answer.where(user_id: this_user.id).count >=1 %>true<% else %>false<% end %>"><% if Answer.where(user_id: this_user.id).count >=1 %><%= icon :ok %><% else %><%= icon :remove %><% end %></td>
      <td class="bold-others is-placed-<% if this_user.industry_id.present? %>true<% else %>false<% end %>"><% if this_user.industry_id.present? %><%= icon :ok %><% else %><%= icon :remove %><% end %></td>
      <td class="bold-others is-avail-placed-<% if Industry.find_by_id(this_user.industry_id).present? && Industry.find_by_id(this_user.industry_id).active %>true<% else %>false<% end %>"><% if Industry.find_by_id(this_user.industry_id).present? && Industry.find_by_id(this_user.industry_id).active %><%= icon :ok %><% else %><%= icon :remove %><% end %></td>
      <td class="bold-others is-grouped-<% if this_user.student_group.present? %>true<% else %>false<% end %>"><% if this_user.student_group.present? %><%= icon :ok %><% else %><%= icon :remove %><% end %></td>
      <td class="bold-others is-allocated-rs-<% if this_user.student_group.present? && this_user.student_group.research_scientists.count >= 1 %>true<% else %>false<% end %>"><% if this_user.student_group.present? && this_user.student_group.research_scientists.count >= 1 %><%= icon :ok %><% else %><%= icon :remove %><% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$(function() {
    var header_height = 190;
    $('table th span').each(function() {
        if ($(this).outerWidth() > header_height) header_height = $(this).outerWidth();
    });

    $('table th').height(header_height);
});

$(".bold-others").mouseover(function () {
  var classes = $(this).attr('class').split(' ');
  var classes = ".tr-" + classes.slice(-1).toString();
  $(classes).addClass("success")
});

$(".bold-others").mouseout(function () {
  var classes = $(this).attr('class').split(' ');
  var classes = ".tr-" + classes.slice(-1).toString();
  $(classes).removeClass("success")
});

</script>
