<% title @isurvey.title %>
<div class="clearfix"></div>
<div class="pull-right">
  <br>
  <%= link_to "Exit Survey", illuminet_polymer_path, class: "btn btn-primary" %>
</div>
<h1><%= @isurvey.title %></h1>
<%= mdrender(@isurvey.description).html_safe %>
<hr>

<%= form_tag(illuminet_path, method: :post) do %>
  <%= hidden_field_tag(:name, @isurvey.title) %>
  <% @isurvey.i_questions.order(:order).each do |question|; if question.enabled %>
  <div class="grouping-value-<%= question.grouping_value %> question-<%= question.order %> g-<%= question.grouping_value %>-q-<%= question.order %>">
    <p><% if question.input_type == 6 %><strong><% end %><%= question.order %>. <%= question.description %><% if question.input_type == 6 %></strong><% end %></p>
    <% case question.input_type %>
    <% when 1 %>
    <%= text_area_tag question.id, "", id: "mde" %>
    <% when 2 %>
    <%= text_field_tag question.id, "", class: "form-control" %>
    <% when 3 %>
    <div class="row text-center" id="<%= question.id %>">
      <div class="col-xs-1"></div>
      <div class="col-xs-2">
        <label>Strongly Disagree<br>
          <%= radio_button_tag(question.id, 1) %></label>
      </div>
      <div class="col-xs-2">
        <label>Disagree<br>
          <%= radio_button_tag(question.id, 2) %></label>
      </div>
      <div class="col-xs-2">
        <label>Uncertain<br>
          <%= radio_button_tag(question.id, 3) %></label>
      </div>
      <div class="col-xs-2">
        <label>Agree<br>
          <%= radio_button_tag(question.id, 4) %></label>
      </div>
      <div class="col-xs-2">
        <label>Strongly Agree<br>
          <%= radio_button_tag(question.id, 5) %></label>
      </div>
    </div>
    <% when 4 %>
    <label><%= check_box_tag question.id %> Yes</label>
    <% when 5 %>
    <label><%= check_box_tag question.id, required: "required" %> I Agree</label> <span class="text-danger">You must accept this question to continue.</span>
    <% when 6 %>
    <%= mdrender(question.comment).html_safe %>
    <div class="clearfix"></div>
    <% end %>
    <script>
    // For each q.id run a script to eval click or change by user (and save it)
    $("#<%= question.id %>").click(function(){
        $(this).find('input:checked').each(function(){
          // Only for the likert scales
          console.log("Q#" + $(this).attr('name') + " A: " + $(this).val());
          save_input($(this).attr('name'), $(this).val());
        });
    });

    $("#<%= question.id %>").change(function() {
      // For other types, eval the q & a values...
      if ($(this).attr('type') == "checkbox") {
        console.log("Q#" + $(this).attr('name') + " A: " + $(this).is(':checked'));
        save_input($(this).attr('name'), $(this).is(':checked'), true);
      } else if ($(this).attr('type') == "text") {
        console.log("Q#" + $(this).attr('name') + " A: " + $(this).val());
        save_input($(this).attr('name'), $(this).val());
      } else {
        // Don't do anything, not handled yet.
      }
    });
    </script>
    <hr>
  </div>
  <% end; end %>

  <nav class="text-center" aria-label="question_groups">
    <p class="qhme" style="margin-bottom: -4px;" class="next">Choose a section to go to next:</p>
    <p class="fsme" style="margin-bottom: -4px;">Choose a section to start:</p>
    <ul class="pagination pagination-lg">
    <% @iquestions.order(:grouping_value).group_by(&:grouping_value).each do |question| %>
      <li>
        <a class="group_toggle" id="qg-<%= question.first %>" href="#/show/question-group/<%= question.first %>">
          <%= question.first %>
        </a>
      </li>
    <% end %>
      <li>
        <%= link_to "Finish Survey »", "/student/?survey=ee" %>
      </li>
    </ul>
  </nav>
<% end %>

<script>

function reset() {
  <% @iquestions.group_by(&:grouping_value).each do |question| %>
    $(".grouping-value-<%= question.second.first.grouping_value %>").hide();
    $("#qg-<%= question.second.first.grouping_value %>").parent().removeClass("active");
  <% end %>
}

$(document).ready( function() {
  $(".qhme").hide();
  <% @iquestions.group_by(&:grouping_value).each do |question| %>
    $(".grouping-value-<%= question.second.first.grouping_value %>").hide();
  <% end %>
});

<% @iquestions.group_by(&:grouping_value).each do |question| %>
$("#qg-<%= question.second.first.grouping_value %>").click( function () {
  reset();
  $(".fsme").fadeOut(300);
  $(".qhme").show();
  $("#qg-<%= question.second.first.grouping_value %>").parent().addClass("active");
  $(".grouping-value-<%= question.second.first.grouping_value %>").fadeIn(300);
});
<% end %>

// Save the user input to the database!
var save_input = function(question, answer, cbx) {
  // alert(question + " " + answer);
  var data_str = "survey_id=<%= @isurvey.id%>&question_id=" + question +"&answer=" + answer;

  var post = $.ajax({
    type: "POST",
    url: "<%= root_url %>answers/update.json",
    data: data_str,
  });

  post.fail(function (data) {
    console.log(data);
  });

  post.success(function (data) {
    if (data.continue == true) {
      console.log(data);
      if (cbx == true) {
        $("#"+question).parent().addClass("postback-has-success");
      } else {
        $("#"+question).addClass("postback-has-success");
      }
    } else {
      alert("We couldn't save the answer to that question. Please exit the survey and refresh, your progress is not lost.")
    }
  });

}
</script>
