<h1>Research Participation <small>Consent Forms</small></h1>
<%= render("partials/research_navigation") %>

<%= form_for(signature) do |f| %>
  <% if signature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(signature.errors.count, "error") %> prohibited this signature from being saved:</h2>

      <ul>
      <% signature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="panel panel-primary">
    <div class="panel-heading">My Pending Documents and Forms</div>
    <div class="panel-body">
      <%= f.select :form_id, options_from_collection_for_select(@forms, 'id', 'title_and_date_required') %>
    </div>
  </div>

  <hr>

  <div class="response">
    <p id="ova-name"><strong>Signing Form: <span id="form-name"></span></strong></p>
    <p><span id="form-description"></span></p>
    <div style="max-width: 520px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; line-height: 2.0;" class="center-block"><span id="form-body"></span></div>
  </div>

  <br>

  <div class="stage-2">
    <div class="hidden-xs">
      Prefer to sign on your touch-screen device? Send this link to your phone or tablet...
      <div class="well">
        <a href="<%= root_url %>/signatures/new"><%= root_url %>signatures/new</a>
      </div>
    </div>

    <div class="data-debug">
      <%= f.text_field :data, id: "sigdata" %>
    </div>

    <p><strong>Signature <%= icon :ok, id: "ok" %></strong></p>
    <div class="sigbox">
      <div class="wrapper">
        <%= image_tag("signature-field.png", class: "sig-image") %>
        <canvas id="signature-pad" class="signature-pad"></canvas>
      </div>
      <div>
        <button id="save" type="button" class="btn btn-xs btn-info">Done</button>
        <button id="clear" type="button" class="btn btn-xs btn-info">Clear</button>
      </div>
    </div>
    <br>

    <div class="actions">
      <%= f.submit("Sign Document", class: "btn btn-primary", id: "submit-signature") %>
    </div>

  </div>
<% end %>

<script src="/js/signature_pad.min.js"></script>

<script>
$('.data-debug').hide()

$('.stage-2').hide()

$("#ok").hide();

$("#submit-signature").hide();

var signaturePad = new SignaturePad(document.getElementById('signature-pad'), {
  backgroundColor: 'rgba(255, 255, 255, 0)',
  penColor: 'rgb(0, 0, 0)'
});

$('#save').click( function () {
  var data = signaturePad.toDataURL('image/png');
  $("#sigdata").val(data);
  $("#ok").show();
  $("#submit-signature").show();
});

$('#clear').click( function () {
  signaturePad.clear();
  $("#sigdata").val("");
  $("#ok").hide();
  $("#submit-signature").hide();
});

function getDataFromForm() {
  var url = "<%= root_url %>forms/" + $('#signature_form_id').val() + ".json"
  var json = $.getJSON(url);

  json.done(function(data){

    $.getJSON("<%= root_url %>toolbox/markdown.json?mdown=" + encodeURIComponent( data.body ) ).always( function (mdowndata) {
      $("#form-body").html(mdowndata.responseText);
      $(".user_name").html("<em><%= current_user.name %></em>");
    });

    $("#form-name").text(data.title);
    $("#form-description").text(data.description);
    $('.stage-2').show();
  });
}

$('#signature_form_id').on('change', function() {
  getDataFromForm();
});

$(document).ready(function () {
  $('#signature_form_id').addClass("form-control")
  if ($('#signature_form_id').val() == null) {
    $("#ova-name").text("You have signed all available consent forms at this time. Thank you.")
  }
  else {
    getDataFromForm();
  }
});

<% @forms.each do |form| %>
  <% form.signatures.each do |signature| %>
    <% if signature.user == current_user %>
$('form option[value="<%= form.id %>"]').attr('disabled', 'disabled');
    <% end %>
  <% end %>
<% end %>
</script>

<style>

.wrapper {
  position: relative;
  width: 300px;
  height: 160px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 8px;
}

#signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 160px;
  z-index: 100;
}

.sig-image {
  position: absolute;
  width: 300px;
  height: 160px;
  z-index: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

</style>
