<% title "Blog Posts"; @title =  "Blog"; @author = "Aidan Cornelius-Bell"; @date = Time.now; %>
<%= render("partials/colour_header") %>
<br>

<% @blogs.each do |blog| %>
<div class="panel panel-primary">
  <div class="panel-heading"><%= blog.title %></div>
  <div class="panel-body"><p><%= blog.summary %> &mdash; <%= blog.author %></p> <%= link_to "Continue Reading...", blog_path(blog.slug) %></div>
  <div class="panel-footer"><% if current_user_administrator? %>Public: <%= blog.public.to_s.capitalize %><span class="pull-right admin"><%= link_to 'Show', blog, class: "btn btn-xs btn-primary" %> <%= link_to 'Edit', edit_blog_path(blog), class: "btn btn-xs btn-primary" %> <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></span><% end %></div>
</div>
<% end %>

<% if current_user_administrator? %>
<br>
<%= link_to 'New Blog', new_blog_path, class: "btn btn-primary" %>
<% end %>
