<%= form_for(focus_group, layout: :basic) do |f| %>
  <% if focus_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(focus_group.errors.count, "error") %> prohibited this focus_group from being saved:</h2>

      <ul>
      <% focus_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.select :user_id, options_from_collection_for_select(User.all, 'id', 'name_and_email', @focus_group[:user_id]) %>
  </div>

  <div class="field">
    <%= f.label :start %>
    <%= f.datetime_select :start %>
  </div>
<br>
  <div class="field">
    <%= f.number_field :slots %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
