<h2>Forgot password</h2>

<br>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="<%= new_user_session_path %>">Log In</a></li>
  <li role="presentation"><a href="<%= new_user_registration_path %>">Register</a></li>
  <li role="presentation" class="active"><a href="<%= new_user_password_path %>">Forgot Password</a></li>
  <li role="presentation"><a href="<%= new_user_confirmation_path %>">No Confirmation Email</a></li>
</ul>
<br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
  </div>
<% end %>
<br />
<%# render "devise/shared/links" %>
