<% title "Industries" %>
<div class="clearfix"></div>
<div class="pull-right">
  <br>
  <%= link_to 'New Industry', new_industry_path, class: "btn btn-primary" %>
</div>
<h1>Industries</h1>
<hr>

<div class="panel panel-primary">
  <div class="panel-heading">Industries</div>
  <div class="list-group">
  <% @industries.each do |industry| %>
    <div class="list-group-item">[<% if industry.active %><%= icon :ok %><% end %> <%= industry.user.name %> ] <%= industry.name %> <span class="pull-right"><%= link_to 'Show', industry, class: "btn btn-xs btn-primary" %> <%= link_to 'Edit', edit_industry_path(industry), class: "btn btn-xs btn-info" %> <%= link_to 'Destroy', industry, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></span></div>
  <% end %>
</div>
</div>

<br>

<%= link_to 'New Industry', new_industry_path %>
