<% title "Log in" %>
<h2>Log in</h2>
<p>Welcome back. For those that know their account details, please enter them below. If you are new to the system by invitation please enter the assigned login information from your welcome email. If you are new, and have not received an invitation please navigate to the sign up page.</p>
<br>

<div class="panel panel-primary center-block" style="padding: 12px; max-width: 800px;">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <br>
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <br>
      <%= f.submit "Log in", class: "btn btn-primary" %><br><br>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
