<% title @form.title %>
<h1><%= @form.title %></h1>

<p>
  <strong>Group:</strong>
  <%= @form.group.name_and_level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @form.description %>
</p>

<p>
  <strong>Date required:</strong>
  <%= @form.date_required %>
</p>

<hr>

<%= mdrender(@form.body).html_safe %>

<hr>

<div class="panel panel-primary">
  <div class="panel-heading">Signatures on this form (click to show)</div>
  <div class="list-group">
    <% @form.signatures.each do |signature| %>
      <div class="list-group-item"><a href="#<%= url_for signature %>" id="<%= signature.id %>" class="trigger" data-toggle="modal" data-target="#signatureDetails"><%= signature.user.addressable %></a> <%= link_to 'Destroy', signature, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger pull-right" %></div>
    <% end %>
  </div>
</div>

<%= link_to "Report All Signatures (Print)", form_signature_tree_path(@form), target: "_BLANK", class: "btn btn-primary" %>
<%= link_to 'Edit Form', edit_form_path(@form), class: "btn btn-info" %>
<%= link_to 'Other Forms', forms_path, class: "btn btn-warning" %>

<div class="modal fade" tabindex="-1" role="dialog" id="signatureDetails">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Signature Details</h4>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe id="load" src="" class="embed-responsive-item"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(".trigger").click( function( event ) {
  console.log(event.target.id);

  $('.modal').on('shown.bs.modal',function(){
    $(this).find('iframe').attr('src','/signatures/' + event.target.id)
  })
});
</script>
