<% title @form.title %>
<h1><%= @form.title %></h1>

<p>
  <strong>Group:</strong>
  <%= @form.group.name_and_level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @form.description %>
</p>

<p>
  <strong>Date required:</strong>
  <%= @form.date_required %>
</p>

<hr>

<%= mdrender(@form.body).html_safe %>


<br>
<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
