<% title "Conference Registrations" %>
<div class="clearfix"></div>
<div class="pull-right">
  <br>
  <a href="<%= root_url %>" class="btn btn-primary">Dashboard</a>
</div>
<h1>Conference Pre Registrations</h1>
<hr>
<% if @rsvp_count < 1 %>
<p class="text-center lead">There are no registrations at this time.</p>
<% else %>
<div class="list-group">
  <% @rsvps.each do |rsvp| %>
  <div class="list-group-item">
    <%= rsvp.full_name %> registered for <% if rsvp.preferred_date == Date.new(2010, 10, 10) %>either date<% else %><%= rsvp.preferred_date.strftime("%A the #{rsvp.preferred_date.day.ordinalize} of %B %Y") %><% end %> with contact <a href="mailto:<%= "\"#{rsvp.full_name}\" <#{rsvp.email}>" %>"><%= rsvp.email %></a>.
    <div class="pull-right">
      <%= form_tag("/conference_management/destroy", method: :delete) do %>
        <%= hidden_field_tag(:rsvp_id, rsvp.id) %>
        <%= submit_tag("x", class: "btn btn-danger btn-xs") %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
  <% end %>
</div>
<% end %>
