<% title "Conference Registrations" %>
<div class="clearfix"></div>
<div class="pull-right">
  <br>
  <a href="<%= root_url %>" class="btn btn-primary">Dashboard</a>
</div>
<h1>Conference Registrations</h1>
<hr>
<% if @rsvp_count < 1 %>
<p class="text-center lead">There are no registrations at this time.</p>
<% else %>
<div class="list-group">
  <% @rsvps.each do |rsvp| %>
  <div class="list-group-item">
    <%= rsvp.full_name %> with contact <a href="mailto:<%= "\"#{rsvp.full_name}\" <#{rsvp.email}>" %>"><%= rsvp.email %></a>
    <br>
    <ul>
      <li>Full Name: <%= rsvp.full_name %></li>
      <li>Email: <%= rsvp.email %></li>
      <li>Role: <%= rsvp.role %></li>
      <li>School: <%= rsvp.school %></li>
      <li>Year level: <%= rsvp.year_level %></li>
      <li>For: <%= rsvp.for_full_name ? rsvp.for_full_name : "N/A" %></li>
      <li>For Email: <%= rsvp.for_email ? rsvp.for_email : "N/A" %></li>
      <li>Attending in addition: <%= rsvp.attending_too ? rsvp.attending_too : "No" %></li>
    </ul>
    <pre class="hidden"><%= rsvp.inspect %></pre>
    <div class="pull-right">
      <%= form_tag("/conference_management/destroy", method: :delete) do %>
        <%= hidden_field_tag(:rsvp_id, rsvp.id) %>
        <%= submit_tag("x", class: "btn btn-danger btn-xs") %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
  <% end %>
</div>
<% end %>
