<div class="container" style="background: #fff; border-radius: 3px;">
  <h1>Merge Account</h1>
  <p>You are about to connect your existing Bridging the Gap account to a <em>Microsoft Azure Active Directory</em> account through your institition. Doing this will enable you to authenticate without a password. Please note, this action is not reversable and you may only connect one Active Directory to your Bridging the Gap account ever.</p>

  <h3>Details to transfer <small>from AD</small></h3>
  <code><%= @data.inspect %></code>
  <p>Data Name <%= @data[:nickname] %></p>
  <p>Email Address <%= @data[:email] %></p>
  <p>First Name <%= @data[:first_name] %></p>
  <p>Last Name <%= @data[:last_name] %></p>
  <p>Provider <span title="<%= @new_provider %>">Microsoft Azure Active Directory</span></p>

  <h3>Existing details to be overwritten <small>from FDS</small></h3>
  <p>Email Address <%= @user[:email] %></p>
  <p>First Name <%= @user[:firstname] %></p>
  <p>Last Name <%= @user[:lastname] %></p>
  <p>Provider Bridging the Gap Federated Data Set</p>

  <hr>
  <%= link_to "Link Accounts", user_microsoft_graph_omniauth_authorize_path, class: "btn btn-block btn-lg btn-tertiary disable-border-radius" %>
  <br>
</div>
