</div><!-- div class="hp-adl"></div -->
<div class="alert alert-info text-center" role="alert"><a href="https://goo.gl/forms/nGK1AS5oWsfOEOfh2">High School Student participant in the Bridging the Gap project? Click here to take the post survey...</a></div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center project-info-reduce">
  <h3 class="heading-inverse">A research collaboration between...</h3>
  <br><br>
  <div class="row">
    <a href="/pages/for-psts"><div class="col-xs-3" data-toggle="tooltip" data-placement="top" title="Click here to learn more...">
      <%= image_tag("university.svg", class: "square-hp") %>
      <h3 class="hidden-xs">Student Teachers</h3>
      <p class="visible-xs">PSTs</p>
    </div></a>
    <a href="/pages/for-schools"><div class="col-xs-3" data-toggle="tooltip" data-placement="top" title="Click here to learn more...">
      <%= image_tag("school.svg", class: "square-hp") %>
      <h3 class="hidden-xs">High Schools</h3>
      <p class="visible-xs">Schools</p>
    </div></a>
    <a href="/pages/for-industry"><div class="col-xs-3" data-toggle="tooltip" data-placement="top" title="Click here to learn more...">
      <%= image_tag("business.svg", class: "square-hp") %>
      <h3 class="hidden-xs">Industry</h3>
      <p class="visible-xs">Industry</p>
    </div></a>
    <a href="/pages/for-government"><div class="col-xs-3" data-toggle="tooltip" data-placement="top" title="Click here to learn more...">
      <%= image_tag("government.svg", class: "square-hp") %>
      <h3 class="hidden-xs">Government</h3>
      <p class="visible-xs">Govt.</p>
    </div></a>
  </div>

  <br>
  <hr>
  <h3 class="text-center">Project Industry Participants</h3>
  <%= image_tag "industries.png", class: "img-responsive" %>

  <br>
  <hr>
  <h3>The Bridging the Gap project aims:</h3>
  <p class="lead" style="font-size: 16px;">To develop in pre-service science teachers a deep and solid understanding of the connections between theoretical science knowledge and its application in society through immersion in authentic experiential learning in an industry environment.</p>
  <p class="lead" style="font-size: 16px;">To increase pre-service science teachers’ capacity to innovate new approaches to learning and teaching in secondary schools, associated with creative problem solving, a spirit of enterprise and contemporary science in meaningful contexts.</p>
  <p class="lead" style="font-size: 16px;">To positively impact secondary school students’ perceptions of STEM as a creative enterprise thus increasing the likelihood that they will pursue STEM careers.</p>

  <hr>
  <br>

  <div class="row">
	<div class="col-md-6">
		<p class="text-center"><a href="/pages/about" class="btn btn-lg btn-primary btn-hp-lm">Learn More</a></p>
    <p class="text-center"><a href="<%= project_teams_path %>" class="btn btn-lg btn-tertiary btn-hp-lm">Meet the Project Team</a></p>
		<p class="text-center"><a href="/getting_started/welcome" class="btn btn-info btn-lg btn-hp-lm">Already on board? Login</a></p>
	</div>
	<div class="col-md-6 text-center">
	<div style="min-height: 9px;"></div>
    <div class="hidden-md hidden-xs hidden-sm"><br><br></div>
		<p class="lead">For more information about the project<br>Email the project team <a href="mailto:bridgingthegap@flinders.edu.au">bridgingthegap@flinders.edu.au</a><br> or call <a href="tel?0882013480">08 8201 3480</a></p>
	</div>
</div>

</div>

<br>

<div class="container">
  <hr>
  <div class="text-center">
    <blockquote>
      <p>Entrepreneurship is an economic activity requiring attention to the framework conditions for business creation and growth. But more importantly it is a human endeavour, requiring attention to the way that our attitudes are shaped, our skills developed, our networks formed. And so it is inseparable from education – not independent of it.</p>
      <footer>Chubb, 2015 <cite title="Boosting High-impact entrepreneurship in Australia">Boosting High-impact entrepreneurship in Australia</cite></footer>
    </blockquote>
  </div>



  <!-- <div class="container-fluid text-center" style="padding: 30px;">
    <h3>Industry Partners:</h3>

  </div> -->

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
