  <footer id="footer">
    <div class="container-dark text-center <% if controller_name == "getting_started" && action_name == "information" %>container-dark-hp<% end %>">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="list-unstyled">
              <%= generate_menu_pages.html_safe %>
              <li><%= link_to "Blog", blogs_path %></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li><%= link_to "Home", root_url %></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li><%= link_to "My Account", edit_user_registration_path %></li>
              <% if current_user_administrator? %>
              <li><a href="/pages/">Pages</a></li>
              <li><a href="/groups/">Groups</a></li>
              <li><a href="/forms/">Forms</a></li>
              <li><a href="/documents/">Documents</a></li>
              <li><a href="/i_surveys/">Surveys</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <p class="text-center help-description">Stuck? Get help via email: <a href="mailto:bridgingthegap@flinders.edu.au?subject=Bridging%20The%20Gap%20Help&body=%0A--%0APlease%20write%20your%20message%20above%20this%20line.%0AAction%20controller:%20<%= URI.escape(controller_name) %>%23<%= URI.escape(action_name) %>.%20Directory%20and%20user:%20<%= if current_user.present?; URI.escape(current_user.group.name + "/" + current_user.email); end; %>.">bridgingthegap@flinders.edu.au</a>.</p>
    <div class="container text-center">
      <%= image_tag("flinders.png", style: "max-height: 50px;") %> <%= image_tag("dsd.png", style: "max-height: 60px;") %>
      <p class="small text-muted">&copy; 2016 - 2017 Flinders University.</p>
    </div>
  </footer>

  <script src="/js/jquery-2.2.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/simplemde.min.css">
  <script type="text/javascript" src="/js/simplemde.min.js"></script>
  <script>
    var simplemde = new SimpleMDE({ element: document.getElementById("mde") });
    var simplemde = new SimpleMDE({ element: document.getElementById("mdetwo") });
  </script>
  </body>
</html>
